body{
  font-family:Helvetica, sans-serif,Arial;
  margin: 0;
  background-color: #ededed;
}
.header{
  display: flex;
  background-color: #111111;

  align-items: center;
  justify-content: space-between;
  height:55px ;
  margin-bottom: 20px;
}
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin-left:7px;
}

.menu-btn svg {
  display: block;
}

.uni{
  color: rgb(206, 34, 34);
}
.unifocus{
  font-weight: bold;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.icon-btn {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.icon-btn svg {
  display: block;
}
.right-section{
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  width:30%;
}

.product-container{
  background-color:#FFFFFF;
  margin: 0px 12px;
  box-sizing: border-box;
  padding: 13px;
  color: #333333;
}
.product-image{
  margin: 0;
  display: flex;
  justify-content: center;
  border: 1.2px solid rgb(240, 240, 240);
  height: 200px;
  align-items: center;
  background-color: white;       
  overflow: auto;
}      
.product-image img{
  width: 30%;
}

.product-container h4{
  font-size: 16px;
  line-height: 17.6px;
  margin-bottom: 5px;
}
.red-txt{
  font-size: 14px;
  color: rgb(215, 25, 32);
  margin: 0;
  line-height: 17.6px;
  padding-bottom: 10px;
  border-bottom: 0.8px solid rgb(240, 240, 240);


}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: rgb(81, 46, 46);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  padding-top: 60px;
  z-index: 100000;
  margin: 0;
 

}
.sidebar.active{
  transform: translateX(0);
}
.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
}
.overlay.active{
  opacity: 1;
  visibility: visible;
}
.sidebar ul li{
  text-decoration: none;
  color: white;
  list-style: none;
  padding-left: 15px;
  margin-bottom: 8px;
  
}
ul{
  padding: 0;
}

.product-container h3{
  font-size: 18px;
  margin: 20px 0 10px 0;
}

.product-container ul{
  box-sizing: border-box;
  padding-left: 16.1px;
}
.product-container ul li{
  font-size: 14px;
  line-height: 23px;
  color: #847f7f;

}
.footer-container{
  background-color: #525a5a;
  color: rgb(209, 209, 209);
  padding: 30px 0px;
}

.footer-inner{
 
  padding: 20px 9px;

}
.footer-inner p{
  font-size: 14px;
}
.footer-menu{
  display: flex;
  justify-content: space-between;



}
.footer-menu h3{
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}
.tree-container{
  margin: 20px 0 30px 0;
  display: block;
}
.tree-container img{
  width: 100%;
  display: block;
}
.footer-menu ul{
  padding: 0;
  list-style: none;
}
ul li{
  padding-bottom: 5px;
  font-size: 13px;
}
